html {
    background-color: #444444;
}

html, body, main {
    height: 100%;
}

.center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.power-container {
    display: flex;
	flex-direction: column;
    align-items: center;
}

.power-button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 70px;
	height: 70px;
	color: rgb(37,37,37);
	background-color: rgb(83,87,93);
	border: 0;
	border-radius: 9999px;
    box-shadow: 0px 3px 0px 0px rgb(34,34,34),
				0px 7px 10px 0px rgb(17,17,17),
				inset 0px 1px 1px 0px rgba(250, 250, 250, .2), 
				inset 0px -12px 35px 0px rgba(0, 0, 0, .5);
	cursor: pointer;
	transition: color 350ms ease, text-shadow 350ms;
}

.power-button > svg:first-child {
    filter: drop-shadow(0px 1px 1px rgba(250,250,250,0.1));
}

.power-button:before {
	content: "";
	display: block;
	position: absolute;
	left: -5px;
	top: -2px;
	width: 80px;
	height: 80px;
	z-index: -2;
	background-color: rgb(26,27,29);
	border-radius: 9999px;
	box-shadow: 0px 1px 0px 0px rgba(250,250,250,0.1), 
				inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.power-button:active {
	top: 3px;
	background-color: rgb(83,87,93);
    box-shadow: 0px 0px 0px 0px rgb(34,34,34),
				0px 3px 7px 0px rgb(17,17,17),
				inset 0px 1px 1px 0px rgba(250, 250, 250, .2),
				inset 0px -10px 35px 5px rgba(0, 0, 0, .5);
}

.power-button.power-button--on {
 	color: #fff;
}

.power-button.power-button--on > svg:first-child {
    filter: drop-shadow(0px 0px 3px rgb(250,250,250));
}

.power-button.power-button--error {
    color: rgb(226,0,0);
}

.power-button.power-button--error > svg:first-child {
   filter: drop-shadow(0px 0px 3px rgb(226,0,0));
}

.power-button:active:before {
	top: -5px;
	background-color: rgb(26,27,29);
	box-shadow: 0px 1px 0px 0px rgba(250,250,250,0.1), 
				inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.power-button + span {
	display: block;
    margin-top: 20px;
	width: 8px;
	height: 8px;
	background-color: rgb(226,0,0);
	border-radius: 9999px;
	box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5),
				0px 0px 3px 2px rgba(226,0,0,0.5);
 	transition: background-color 350ms, box-shadow 700ms;
}

.power-button + span.led--on {
	background-color: rgb(135,187,83);
	box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5),
				0px 0px 3px 2px rgba(135,187,83,0.5);
}
